<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"> Create new Theme</h1>
      <%- include('partials/messages'); %>
      <form action="/professor/createTheme" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            placeholder="Enter title"
          />
        </div>
        <div class="form-group">
          <label for="description" class="form-label mt-4">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 83px;"></textarea>
        </div>
        <br>
        <input id="dateTimePicker" name="expiryDate"></input>  
        <script type="text/javascript">
            $(document).ready(function() {
                $('#dateTimePicker').datetimepicker();
            });
        </script>
        <button type="submit" class="btn btn-primary btn-block">Create</button>
      </form>
    </div>
  </div>
</div>
<!-- <p class="lead mb-3"><%= professor %> </p> -->
