<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Professor Profile</title>
    <link rel="stylesheet"  src="/profileProfessor">
  </head>
  <body>
    <h1>Professor profile</h1>
    <div class="infoProfessor">

    </div>
    <div class="listOfTheme">
      <a href="" class="btn btn-secondary">Delete</a>
    </div>
    <div class="listOfRequests">
    </div>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <a href="" class="btn btn-secondary">Edit profile</a>
  </body>
</html>
