<h1 class="mt-4">Prikaz tema za studenta kad se uloguje </h1>
<p class="lead mb-3">Ovo ja editujem</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<h1>Izmene zbog merge sa dev-om</h1>
<h1>Checking new branchs</h1>
